doctype html
html(lang="en")
  head
    meta("keywords", "WebRTC, HTML5, JavaScript")
    meta("name", "description" content="WebRTC Reference App")
    meta("viewport", "width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1")

    title Web RTC Test video chat ( developement)

    script(src="socket.io/socket.io.js")
    script(src="javascripts/lib/jquery.min.js")
    script(src="javascripts/lib/bootstrap.min.js")
    script(src="javascripts/helpers/utils.js")
    script(src="javascripts/lib/adapter.js")
    script(src="javascripts/lib/underscore-min.js")
    script(src="javascripts/lib/backbone-min.js")
    script(src="javascripts/helpers/log.js")
    script(src="events/events.js")

    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/bootstrap-theme.min.css')

  body
    div.page#container
      include  snippets/modalBrowserUnsupported.html
      include  snippets/logo.html
      div#link-message.jumbotron
          p Share this link to start a call : #{roomId}
      include  snippets/popUp.html
      div#peers
      div#local-video-container
        video(muted='true', autoplay='autoplay')#localVideo
      include  snippets/menuBar.html
  script(type="text/template")#peer-template
        <div>
        <div class="remotePeerInfo"> </div>
        <div class="remotePeerMediaContainer"> </div>
        </div>

    script(type="text/template")#peer-template-info
          <p> Peer : <strong> <%=peerId %> </strong> </p>
          <p class="inline smallLeftMargin iceConnection">IceConnectionState : <%= iceConnectionState %> </p>
          <p class="inline smallLeftMargin iceGathering">IceGatheringState  : <%= iceGatheringState %> </p>
          <p class="inline smallLeftMargin signalingState">SignalingState : <%= signalingState %> </p>
          <p class="inline smallLeftMargin signalingState">isRenegotiationScheduled : <%= isRenegotiationScheduled %> </p>

    script(type="text/template")#peer-template-media
        <video class="remote-media-video" autoplay='autoplay'></video>
        <div class="remotePeerInfo"></div>

    script(type="text/template")#localPeer-template
          <div class="localPeer"><p> Session initialized. Local peer  has received the following id : <strong><%=peerId %></strong> <br>
          Connected  peers : <strong><%=connectedPeers %></strong><br>
          Local Streams : <%=streams %><br>
          </p> </div>

script(src="javascripts/model/PeerConnection.js")
script(src="javascripts/helpers/SignalingServiceFrontEnd.js")
script(src="javascripts/model/PeerSession.js")
script(src="javascripts/view/PeerView.js")
script(src="javascripts/view/AppView.js")
script(src="javascripts/main.js")
script(type='text/javascript').
    $(document).ready(function () {
       app.main();
    });
