doctype html
html(lang="en")
  head
    meta("keywords", "WebRTC, HTML5, JavaScript")
    meta("name", "description" content="WebRTC Reference App")
    meta("viewport", "width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1")

    title Web RTC Test video chat ( developement)

    script(src="socket.io/socket.io.js")
    script(src="javascripts/lib/jquery.min.js")
    script(src="javascripts/lib/adapter.js")
    script(src="javascripts/lib/underscore-min.js")
    script(src="javascripts/lib/backbone-min.js")

  body
    h1 Welcome to Room #{roomId}
    #container
      #romote_videos
      #local_video_container
        video(autoplay='autoplay')#localVideo
        p Local Video
    #status
    #peers
      h3 Session info :
      #localPeer
      h3 Remote peers info :
      ul#peerList

    script(type="text/template")#peer-template
        <div class="peer"><p> Peer : <strong><%=peerId %> </strong> Status : <strong> <%=status %> </strong> Streams : <%=streams %></p></div>

    script(type="text/template")#localPeer-template
          <div class="localPeer"><p> Session initialized. Local peer  has received the following id : <strong><%=peerId %> </strong> Streams : <%=streams %></p></div>

    script(src="javascripts/PeerConnection.js")
    script(src="javascripts/PeerSession.js")
    script(src="javascripts/view/PeerView.js")
    script(src="javascripts/view/AppView.js")
    script(src="javascripts/SignalingServiceFrontEnd.js")
    script(src="javascripts/utils.js")
    script(src="javascripts/log.js")
    script(src="javascripts/singleUserChat.js")
    script(src="events/events.js")

    script(type='text/javascript').
         new app.AppView();
