body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul
{
    list-style-type: none;
}

.remotePeerInfo{}
.remotePeerMediaContainer {}

.inline {
    display: inline-block;
}

.smallLeftMargin {
    margin-left: 5%;
}

video {
background: none;
height: auto;
width: auto;
}