html, body{
    margin:0;
    padding:0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    overflow: hidden;
}

@font-face
{
    font-family: pacifico;
    src: url(/img/fonts/pacifico.ttf);
}

@font-face
{
    font-family: capitan-america;
    src : url(/img/fonts/capitanAmerica.ttf)
}


.page {
    height:100%;
    width: 100%;
    position:absolute;
    background : #474747 url(/img/bg.png);
}

#peers {
    height:100%;
}

#local-video-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    display: relative;
    overflow: hidden;
   /* background: rgba(255, 255, 255, 1); */
    bottom: 10px;
    right: 10px;
}

#localVideo {
    width:  300px;
    height: 225px;
    margin-left: -50px;
    margin-top: -12.5px;
}

#menu-bar{
    position:fixed;
    background-color: rgba(255, 255, 255,0.1);
    bottom:0px;
    height : 50px;
    width  : 100%;
}
#buttons-container{
    position : relative;
    width: calc(100%/3);
    min-width:160px;
    height: inherit;
    margin: 0 auto;
}
.img-b {
    width : 100%;
    height : 100%;
}

.remotePeerInfo {
    height: 80%;
    position: absolute;
    top: 0 ;
    left: 0;
    color: #000000;
}

.inline-div {
    display: inline-block;
}
.icon {
    position: relative;
    height: 50px;
    float: left;
    width: calc(100% / 3);
}
.icon-img {
    height : 40px;
    margin : 5px auto;
    display : block;
    cursor: pointer;
}
.video-icon {
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    width: 45px;
    height: 30px;
    margin: 10px auto;
    display : block;

}

.red-bar {}

.remote-media-container {
    width: 0;
    height: 0;
    position: relative;
    display: inline-block;
}

.remote-media-video {
  position: relative;
  height: 100%;
  width: 95%;
  left: 2.5%;
  margin: 0 auto;
}


.video-icon-big {
    width: 64px;
    margin: 10px auto;
}
#bar-activator {
    background-color: red;
    width:100%;
    height: 10px;
}
.center{
    position: absolute;
    background-color: rgba(255, 255, 255,0.1);
    border-radius:25px;
    height: 200px;
    width: 200px;
    top:calc(50% - 200px/2 - 50px);
    left:calc(50% - 200px/2);
}
.hidden-div {
    display: none;
}
.big-icon{
    position: absolute;
    width: 200px;
    height: 150px;
}
.big-icon-text {
    position: relative;
    top: 150px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    color: #fff;
    font: 18px 'Lato', Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.big-icon-video {
    position: relative;
    width: 64px;
    height: 48px;
    margin: 0 auto;
    display: block;
    top:calc(50% - 48px/2);
}

.big-icon-audio {
    position: relative;
    margin: 0 auto;
    display: block;
    top:calc(50% - 48px/2);
}
.big-red-bar-icon {
    position: relative;
    top:46px;
    width: 64px;
    height: 54px;
    margin: 0 auto;
    display: block;
}

.top-stack {
    z-index: 100;
}

.strech{
    height: 100%;
}

#image-backgroud{
    position: relative;
    top: -100%;
    margin: 0 auto;
    display: block;
}

#logo {
    position: absolute;
    width: 440px;
    height: 100px;
    margin: 0 auto;
    top: 5%;
    left: 0;
    right: 0;
}

.big-text-logo {
    position: relative;
    font-family: Pacifico;
    font-size: 50px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.small-text-logo {
    font-family: capitan-america;
    margin: 0;
    font-size: 15px;
    top: -15px;
    position: relative;
    left: 15px;
    color: #999;
   /* text-shadow: 0px 3px 8px #2a2a2a;*/
    letter-spacing: 1px;
}

#link-message {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    color: #fff;
    line-height: 14px;
    font-weight: bold;
    margin:0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: rgba(255,255,255,0.33);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border-radius: 2px;
}

.info-msg {
   font: normal 18px/1.8 "Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
   color: white;
   text-align: center;
}

.absolute-center {

}

#link-container{
    width: 450px;
    height: 100px;
    position: absolute;
    top:50%;
    margin-top :-50px;
    left: 50%;
    margin-left: -225px;
}

#link-message p {
    line-height: 50px;
}

.white-circle {
    display: block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    overflow: hidden;
}

.connection-img {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

.circle {
    width: 0px;
    height: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border: 4px solid white;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
}

.connecting {
    position: absolute;
    top: calc(50% + 100px);
    right: 0;
    left: 0;
}

.connection-img p {
    font-size: 15px;
}

.background{}
