<div class='hidden' id="menu-bar">
    <div id="buttons-container">
        <div id="localVideoToggle" class="icon">
            <img class="icon-img video-icon" src="img/icons/video.png"/>
            <img class="red-bar icon-img video-icon hidden" src="img/icons/redLine.png"/>
        </div>
        <div id="localAudioToggle" class="icon">
            <img class="icon-img" src="img/icons/microphone.png"/>
            <img class="red-bar icon-img video-icon hidden" src="img/icons/redLine.png"/>
        </div>
        <div id="localOption"  class="icon"> <img class="icon-img" src="img/icons/gear.png" /> </div>
    </div>
</div>